{% extends "v2/layout.html" %}
{% block body %}
<script type=text/javascript src="{{ url_for('static', filename='web.js') }}"></script>
<form enctype="multipart/form-data">
    <label for="input_file_upload">Select input images</label>
    <input type="file" name="file" id="input_file_upload">
    <p class="help-block">Image types only, please.  Will be resized to CNN input shape.
    </p>
    <label for="select_vis">Available visualizations</label>
    <select class="form-control" name="choice" id="select_vis"></select>
    <div class="form-group" id="div_settings_list"></div>
    <input type="button" value="Upload" id="button_visualize" class="btn btn-primary" />
</form>
<div class="results"></div>
{% endblock %}
